<h1 class="headline">ようこそBookersへ</h1>

<p class="introduction"><span class="bold">Bookers</span> では、さまざまな書籍に関するあなたの意見や</p>
<p class="introduction">印象を共有し共有し交換することができます</p>

<P>
  <a class="introduction"  href="/books"><span class="strat-btn">strat<span></a>
</P>